<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group btn-group-toggle display-button" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="kanji" id="dis-kanji" autocomplete="off" checked> Kanji
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="hira" id="dis-hira" autocomplete="off"> Hira
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="mean" id="dis-mean" autocomplete="off"> Mean
      </label>
    </div>
    
    <!-- random box -->
    <div id="random-box">
      <h1>
        <p class="text-center" id="kanji" style="display: none"></p>
        <p class="text-center" id="hira" style="display: none"></p>
        <p class="text-center" id="mean" style="display: none"></p>
        <p class="text-center" id="round" >1</p>
      </h1>
    </div>

    <!-- Hind button -->
    <button id="info-button" type="button" class="btn btn-info btn-lg" accesskey="c">
      Info
    </button>
  </div>

  <p id="data" style="display:none"><%= raw @worksheet.rows %></p>
</div>

<%= javascript_include_tag "random", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "random", :media => "all", "data-turbolinks-track" => true%>